<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="ion-padding" (submit)="addTask()" #f="ngForm">
    <ion-item lines="full" class="ion-padding-bottom">
      <ion-label position="floating">タスク</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="task"
        name="task"
        required
        minlength="1"
        maxlength="20"
      ></ion-input>
    </ion-item>
    <ion-button
      color="tertiary"
      expand="block"
      type="submit"
      [disabled]="!f.form.valid"
    >
      Add</ion-button
    >
  </form>
  <ion-list>
    <ion-label color="tertiary">＜Incompleted＞</ion-label>
    <p></p>
    <ion-item *ngFor="let t of tasks; let i = index">
      <ion-label>・{{t.name}}</ion-label>
      <ion-button color="primary" expand="block" (click)="completeTask(i)"
        >complete</ion-button
      >
    </ion-item>
    <p></p>
    <ion-label color="tertiary">＜Completed＞</ion-label>
    <p></p>
    <ion-item *ngFor="let t of completedtasks; let i = index">
      <ion-label>・{{t.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
